@font-face {
    font-family: "DIN300";
    src: url("fonts/helvetica-75-bold.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/Helvetica-55-Roman.otf");
    font-weight: 300;
}